---
layout: "layouts/base.liquid"
pagination:
    data: "domainsList"
    size: 1
    alias: "domain"
permalink: "/domain/{{ domain | slug }}/index.html"
eleventyComputed:
    title: "Domain: {{ domain }}"
    description: "View the results for {{ domain }} on the Green Web Tracker."
---
<h1>Domain: {{ domain }}</h1>

<p>Appears in {{ domain | findDomainInIndexes }} {{ domain | findDomainInIndexes | plural: "indexes", "index"  }}.</p>
  {% assign domainIndexes = domain | listDomainIndexes %}

<details>
  <summary>Indexes</summary>
  <ul>
    {% for index in domainIndexes %}
      {% comment %} <li>{{ indexes[index.filename] }}</li> {% endcomment %}
      <li><a href="/index/{{ indexes[index.filename] | slug }}">{{ indexes[index.filename].name }}</a></li>
    {% endfor %}
  </ul>
</details>

{% assign results = domain | getDomainResults %}

{% include 'partials/legend.liquid' %}

<div class="table-wrapper">
  <table class="domain-results">
    <thead>
      <tr>
        <th>Green</th>
        <th>Test Time</th>
        <th>Provider</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
        <tr>
            <td data-green="{{ result.data[0].green }}">
                {% assign greenFlag = result.data[0].green %}
                {% include 'partials/greenFlag.liquid' %}
            </td>
            <td><time datetime="{{result.timestamp}}">{{ result.timestamp | date_to_long_string }}</time></td>
            <td><a href="https://app.greenweb.org/directory/#{{ result.data[0].hosted_by_id }}" target="_blank">{{ result.data[0].hosted_by }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <aside>
    <h2>
      I think there's an error in the results
    </h2>
    <p>First, please
      <a href="/about/#faq">read the FAQs</a>
      on this website to see if your question hasn't been answered already.</p>
    <p>If you still believe there's an error in the results you're seeing (i.e. a domain is returning a result you do not expect) then please contact us through the
      <a href="https://www.thegreenwebfoundation.org/support-form/?wpf2192_9=Another%20subject">support form on our website</a>.</p>
  </aside>