---
layout: "layouts/base.liquid"
pagination:
    data: "indexes"
    size: 1
    alias: "index"
permalink: "/index/{{ index | slug }}/index.html"
---
{% assign content = indexes[index] %}

<h1>Index: {{ content.name }}</h1>
<p>{{ content.description }}</p>
<small>Contributed by:
  {% for contrib in content.contributors %}
    <a href="https://github.com/{{ contrib.github }}">{{ contrib.name }}</a>
    {% unless forloop.last %},
    {% endunless %}
  {% endfor %}
  | Source:
  {% for source in content.sources %}
    <a href="{{ source.url }}">{{ source.name }}</a>
    {% unless forloop.last %},
    {% endunless %}
  {% endfor %}
</small>

<h2>Domains</h2>
{% assign results = index | getIndexResults %}

<p>This index has been checked {{ results | size }} times.</p>

<div class="table-wrapper">
  <table class="index-results">
    <thead>
      <tr>
        <th>Domain</th>
        <th colspan="{{ results | size }}">Results</th>
      </tr>
    </thead>
    <tbody>
      {% for domain in content.sites %}
        <tr>
          <td class="domain">
            <a href="/domain/{{ domain | toHost | slug }}/">{{ domain }}</a>
          </td>
          {% for result in results %}
            {% assign greenFlag = result | getGreenStatus: domain %}
            <td data-green="{{ greenFlag }}" title="Domain checked as {{ greenFlag }} on ...">
              {% include 'partials/greenFlag.liquid' %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>