---
layout: "layouts/base.liquid"
pagination:
    data: "indexes"
    size: 1
    alias: "index"
permalink: "/index/{{ index | slug }}/index.html"
eleventyComputed:
    title: "Index: {{ index }}"
    description: "View the results of the {{ index }} index on the Green Web Tracker."
---
{% assign content = indexes[index] %}

<h1>Index: {{ content.name }}</h1>
<p>{{ content.description }}</p>
<small>Contributed by:
  {% for contrib in content.contributors %}
    <a href="https://github.com/{{ contrib.github }}">{{ contrib.name }}</a>
    {% unless forloop.last %},
    {% endunless %}
  {% endfor %}
  {% if content.sources.size > 0 %}
    | Source:
    {% for source in content.sources %}
      <a href="{{ source.url }}">{{ source.name }}</a>
      {% unless forloop.last %},
      {% endunless %}
    {% endfor %}
  {% endif %}
  | <a href="https://github.com/thegreenwebfoundation/green-web-tracker/tree/main/src/_data/indexes/{{index}}.json">Edit this index</a>
</small>

<h2>Domains</h2>
{% assign results = index | getIndexResults %}

<p>This index has been checked {{ results | size }} times.</p>

{% include 'partials/legend.liquid' %}

<div class="table-wrapper">
  <table class="index-results">
    <thead>
      <tr>
        <th></th>
        <th colspan="{{ results | size }}">Results</th>
      </tr>
      <tr>
        <th>Domain</th>
        {% for result in results %}
          <th>{{ result.timestamp | date: "%e %b '%y" }}</th>
        {% endfor %}
    </thead>
    <tbody>
      {% assign uniqueDomains = results | uniqueResultDomains %}
      {% for domain in uniqueDomains %}
        <tr>
          <td class="domain">
            <a href="/domain/{{ domain | toHost | slug }}/">{{ domain }}</a>
          </td>
          {% for result in results %}
            {% assign greenFlag = result | getGreenStatus: domain %}
            <td data-green="{{ greenFlag }}" title="Domain checked as {{ greenFlag }} on ...">
              {% include 'partials/greenFlag.liquid' %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<aside>
  <h2>
    I think there's an error in the results
  </h2>
  <p>First, please
    <a href="/about/#faq">read the FAQs</a>
    on this website to see if your question hasn't been answered already.</p>
  <p>If you still believe there's an error in the results you're seeing (i.e. a domain is returning a result you do not expect) then please contact us through the
    <a href="https://www.thegreenwebfoundation.org/support-form/?wpf2192_9=Another%20subject">support form on our website</a>.</p>
</aside>