---
layout: "layouts/base.liquid"
---
<h1>Green Web Tracker</h1>
<p>Tracking the progress of the internet towards 100% fossil free hosting. Updated weekly.</p>

<section id="indexes">
  <h2>Indexes</h2>
  <p>A set of public indexes tracking various types of websites. Submit your own!</p>
  <ul class="index-list">
    {% for index in indexes %}
      <li>
        <p class="title">
          <a href="/index/{{ index[0] | slug }}">{{ index[1].name }}</a>
        </p>
        <p>{{ index[1].description }}</p>
        <div class="stats">
          <small>Total sites: {{ index[1].sites | size }}</small>
          <small>Green hosted: {{ index[1].sites | greenHostsCount: index[0] }}</small>
        </div>
      </li>
    {% endfor %}
  </ul>
</section>