{% unless title %}
  {% assign pageTitle = "Green Web Tracker" %}
{% else %}
{% capture pageTitle %}
  {{title}} | Green Web Tracker
{% endcapture%}
{% endunless %}

{% unless description %}
  {% assign description = summary %}
{% endunless %}

<title>{{ pageTitle }}</title>
<meta name="description" content="{{ description }}" />
<link rel="canonical" href="https://tracker.greenweb.org/{{ page.url }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:url" content="https://tracker.greenweb.org/{{ page.url }}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Green Web Tracker" />
<meta property="og:image" content="https://tracker.greenweb.org/og_image.png" />
{% comment %} <meta name="theme-color" content="#1c7ed6"> {% endcomment %}
