{% unless title %}
  {% assign pageTitle = "Green Web Tracker" %}
{% else %}
{% capture pageTitle %}
  {{title}} | Green Web Tracker
{% endcapture%}
{% endunless %}

{% unless description %}
  {% assign description = summary %}
{% endunless %}

<title>{{ pageTitle }}</title>
<meta name="description" content="{{ description }}" />
<link rel="canonical" href="https://tracker.greenweb.org/{{ page.url }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:url" content="https://tracker.greenweb.org/{{ page.url }}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Green Web Tracker" />
<meta property="og:image" content="https://tracker.greenweb.org/og_image.jpg" />

<link rel="icon" href="https://www.thegreenwebfoundation.org/wp-content/uploads/cropped-GWF-site-icon-32x32.png" sizes="32x32">
<link rel="icon" href="https://www.thegreenwebfoundation.org/wp-content/uploads/cropped-GWF-site-icon-192x192.png" sizes="192x192">
<link rel="apple-touch-icon" href="https://www.thegreenwebfoundation.org/wp-content/uploads/cropped-GWF-site-icon-180x180.png">
<meta name="msapplication-TileImage" content="https://www.thegreenwebfoundation.org/wp-content/uploads/cropped-GWF-site-icon-270x270.png">
{% comment %} <meta name="theme-color" content="#1c7ed6"> {% endcomment %}
